build-essential
cmake
cython
gfortran
git-core
libatlas-base-dev
libatlas-dev
libblas-dev
libboost-dev
libboost-filesystem-dev
libboost-system-dev
libboost-thread-dev
libeigen3-dev
libfftw3-dev
libfreetype6-dev
libjpeg-dev
liblcms
liblcms-dev
liblcms-utils
libmemcached-dev
libpng-dev
libpq-dev
libxml2-dev
libxslt-dev
logrotate
memcached
nginx
nodejs
npm
openssl
postgresql-client
python-dev
python-pil
python-opencv
python-pip
python-setuptools
rabbitmq-server
software-properties-common
supervisor
sudo
swig
vim
zlib1g-dev
