# Temporary.
images

# Folders that are being used by the server.
/data/
/db/
/media/
/backup/
/venv/
/opt/
/run/
/figures/
/synthetic/
/test-renders/
/celerybeat-schedule

# OS folders.
dist/
build/
release/
.DS_Store/

# Files.
*.DS_Store
*~
*.log
*.pyc
.*.xml
.*.swp
.*.swo
.*.swn
.*.tmp
.swp
.ropeproject
tmp.conf
pg_dump.sql.gz
Thumbs.db
