{% load account_tags %}
<div id='navbar-top' class='navbar navbar-fixed-top'>
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{% if iiw %}
				<a class="brand" href="{% url 'intrinsic-splash' %}">Intrinsic Images in the Wild</a>
			{% else %}
				<a class="brand" href="{% url 'home' %}">OpenSurfaces</a>
			{% endif %}
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class='dropdown{% ifequal nav "publications" %} active{% endifequal %}'>
						<a href="#"><i class="icon-fixed-width icon-download-alt"></i> Publications <b class="caret"></b></a>

						<ul class="dropdown-menu">
						</ul>
					</li>

					<li class='dropdown {% if "browse/" in nav %} active{% endif %}'>
						<a href="#"><i class="icon-fixed-width icon-th"></i> Browse <b class="caret"></b></a>

						<ul class="dropdown-menu">
							<li class="nav-header">OpenSurfaces</li>
							<li{% ifequal nav "browse/photo" %} class="active"{% endifequal %}>
								<a href="{% url 'photo-by-category' %}"><i class="icon-fixed-width icon-picture"></i> Scenes</a>
							</li>
						</ul>
					</li>

					{% if user.is_staff %}
					<li class='dropdown{% ifequal nav "mturk-admin" %} active{% endifequal %}'>
						<a href="#"><i class="icon-fixed-width icon-group"></i> Mturk <b class="caret"></b></a>

						<ul class="dropdown-menu">
							<li{% ifequal subnav "experiments" %} class="active"{% endifequal %}>
								<a href="{% url 'mturk-admin-experiments' %}"><i class="icon-fixed-width icon-home"></i> Experiments</a>
							</li>
							<li{% ifequal subnav "stats" %} class="active"{% endifequal %}>
								<a href="{% url 'mturk-admin-stats' %}"><i class="icon-fixed-width icon-bar-chart"></i> Statistics</a>
							</li>
							<li{% ifequal subnav "submission" %} class="active"{% endifequal %}>
								<a href="{% url 'mturk-admin-submission' %}"><i class="icon-fixed-width icon-inbox"></i> Submissions</a>
							</li>
							<li{% ifequal subnav "feedback" %} class="active"{% endifequal %}>
								<a href="{% url 'mturk-admin-feedback' %}"><i class="icon-fixed-width icon-comment"></i> Feedback</a>
							</li>
							<li{% ifequal subnav "example" %} class="active"{% endifequal %}>
								<a href="{% url 'mturk-admin-example' %}"><i class="icon-fixed-width icon-check"></i> Examples</a>
							</li>
							<li{% ifequal subnav "pending-content" %} class="active"{% endifequal %}>
								<a href="{% url 'mturk-admin-pending-content' %}"><i class="icon-fixed-width icon-shopping-cart"></i> Scheduling</a>
							</li>
						</ul>
					</li>
					{% endif %}

					{% block extra_navlinks %}{% endblock %}
				</ul>

				{% block navbar_right %}
				{% include "account_navbar.html" %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>
